<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"   href="/stylesheets/style.css">
    <title>Color Game</title>
</head>
<body>
    <h1>Welcome to   <br>    
        Guess the Color..! </h1>
    
    <h2 id ="name"></h2>
 
    <div id="stripe">
        <button id="start" onclick="startGame()">Start Game</button>
    </div>

    <h2 id="round"></h2>
   
        <h2 id ="ress"></h2>
    <div id="stripe">   
        <form action="/score" method="post">
            <input type="text" placeholder="Enter Score" name="score" id="score" >
            <script></script>
            <input type="submit" value="submit" onclick="scoreCheck()" >
        </form>
    </div>
    

    <div id="container">
        <div class="square" id='square1' onclick="calcress(1)"></div>
        <div class="square" id="square2" onclick="calcress(2)"></div>
        <div class="square" id="square3" onclick="calcress(3)"></div>
        <div class="square" id="square4" onclick="calcress(4)"></div>
        <div class="square" id="square5" onclick="calcress(5)"></div>
        <div class="square" id="square6" onclick="calcress(6)"></div>
        <div class="square" id="square7" onclick="calcress(7)"></div>
        <div class="square" id="square8" onclick="calcress(8)"></div>
        <div class="square" id="square9" onclick="calcress(9)"></div>
        <div class="square" id="square10" onclick="calcress(10)"></div>
    </div>


<script type="text/javascript">


var customerName = prompt("Please enter your name", "");

if (customerName!= null) 
    document.getElementById("name").innerHTML = "Hello " + customerName ;

 
var roundNo;
var ress;
var colors = [ 'blue', 'brown', 'coral', 'crimson', 'darkgrey', 'gold', 'lawngreen', 'fuchsia', 'black', 'orange' ]

function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
}

function randomize(){
shuffle(colors)
    for(let i = 1; i <= 10; i++){
        let id = 'square' + i
        document.getElementById(id).style.backgroundColor = colors[i-1]
    }
}
             
function startGame(){
    roundNo = 1
    ress = 0  
    randomize()     
        
    document.getElementById('container').style.visibility = "visible"
    document.getElementById('round').innerHTML = "Round 1"
    document.getElementById('ress').innerHTML = "Score = 0"
    document.getElementById('start').innerHTML = "resset Game"
}

function scoreCheck(){
   var score = document.getElementById("score").value
   if(score == ress){
    alert(document.getElementById("score").innerHTML= "Thanks for Playing  " +  customerName +". Your Score is " + score)
   }else{
       alert("score does not match the actual score")
   }
}



function getFibonacci(roundNo){
    var limit = roundNo ;
    var f1=1;
    var f2=1;

    if(roundNo == 1)
        return f1

    if(roundNo == 2)
        return f2

    var i,f3;
    for(i=2; i<=limit; i++){
            f3=f1+f2;
            f1=f2;  
            f2=f3;
    }
    return f1 
}

function calcress(squareNo){
    if(roundNo >= 7)
        return

    if(squareNo == getFibonacci(roundNo))
        ress += 5
    else
        ress -= 5

    document.getElementById('ress').innerHTML = "Score = " + ress 
    roundNo++    


    if(roundNo > 6){
        document.getElementById('round').innerHTML = "Game Over" 
        /* index.js mei ayega*/ 
        //button click ke action mei 
       
        return;
    }
    randomize()
    document.getElementById('round').innerHTML = "Round " + roundNo 
}

// <button onClick=
//      var button = document.createElement("button");
//              button.innerHTML = ress;

//        button.addEventListener ("click", function() {
//              alert("Score added to database");
//  });

</script>        
    
</body>
</html>